<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banana1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,445}}</string>
                <key>sourceSize</key>
                <string>{600,445}</string>
            </dict>
            <key>banana2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{445,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,600}}</string>
                <key>sourceSize</key>
                <string>{445,600}</string>
            </dict>
            <key>banana3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,2},{600,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,445}}</string>
                <key>sourceSize</key>
                <string>{600,445}</string>
            </dict>
            <key>banana4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{445,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,600}}</string>
                <key>sourceSize</key>
                <string>{445,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bananaFrames.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a985529ba9d8d2934c437008b1a3c165$</string>
            <key>textureFileName</key>
            <string>bananaFrames.png</string>
        </dict>
    </dict>
</plist>
