<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dollar-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>Dollar-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{202,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,248}}</string>
                <key>sourceSize</key>
                <string>{202,248}</string>
            </dict>
            <key>Dollar-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{38,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,248}}</string>
                <key>sourceSize</key>
                <string>{38,248}</string>
            </dict>
            <key>Dollar-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{202,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,248}}</string>
                <key>sourceSize</key>
                <string>{202,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coinDrop.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c1905472c7ed3382a723a0b6b9d135a$</string>
            <key>textureFileName</key>
            <string>coinDrop.png</string>
        </dict>
    </dict>
</plist>
