<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d3-attack-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{265,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,196}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>d3-attack-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{265,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,196}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>d3-attack-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,392},{265,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,196}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>d3-attack-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,588},{265,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,196}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>deviltankattack.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1d71f023c35d58dba57e89dbfa0f78d$</string>
            <key>textureFileName</key>
            <string>deviltankattack.png</string>
        </dict>
    </dict>
</plist>
