<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>friendlyFastShooter</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>0</integer>
		<key>spawnRate</key>
		<integer>0</integer>
		<key>damage</key>
		<integer>0</integer>
		<key>fallSpeed</key>
		<integer>0</integer>
	</dict>
	<key>friendlyMelee</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>0</integer>
		<key>spawnRate</key>
		<integer>0</integer>
		<key>damage</key>
		<integer>0</integer>
		<key>fallSpeed</key>
		<integer>0</integer>
	</dict>
	<key>friendlyRegularShooter</key>
	<dict>
		<key>available</key>
		<true/>
		<key>health</key>
		<integer>0</integer>
		<key>spawnRate</key>
		<integer>0</integer>
		<key>damage</key>
		<integer>0</integer>
		<key>fallSpeed</key>
		<integer>0</integer>
	</dict>
	<key>friendlyZigZag</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>0</integer>
		<key>spawnRate</key>
		<integer>0</integer>
		<key>damage</key>
		<integer>0</integer>
		<key>fallSpeed</key>
		<integer>0</integer>
	</dict>
	<key>friendlyBig</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>0</integer>
		<key>spawnRate</key>
		<integer>0</integer>
		<key>damage</key>
		<integer>0</integer>
		<key>fallSpeed</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
