<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enemyRegularShooter</key>
	<dict>
		<key>available</key>
		<true/>
		<key>health</key>
		<integer>50</integer>
		<key>fallingHealth</key>
		<integer>1</integer>
		<key>spawnRate</key>
		<integer>185</integer>
		<key>damage</key>
		<integer>20</integer>
		<key>fallSpeed</key>
		<integer>4</integer>
		<key>attackFrequency</key>
		<integer>60</integer>
	</dict>
	<key>enemyMelee</key>
	<dict>
		<key>available</key>
		<true/>
		<key>health</key>
		<integer>50</integer>
		<key>fallingHealth</key>
		<integer>1</integer>
		<key>spawnRate</key>
		<integer>95</integer>
		<key>damage</key>
		<integer>15</integer>
		<key>fallSpeed</key>
		<real>4</real>
		<key>attackFrequency</key>
		<integer>15</integer>
		<key>zigZagFrequency</key>
		<integer>6</integer>
		<key>reinforcementRate</key>
		<integer>500</integer>
	</dict>
	<key>Kmonster</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>0</integer>
		<key>spawnRate</key>
		<integer>0</integer>
		<key>damage</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>0</integer>
		<key>attackFrequency</key>
		<integer>0</integer>
	</dict>
	<key>enemyHelicopter</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>4</integer>
		<key>spawnRate</key>
		<integer>0</integer>
		<key>damage</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>-1</integer>
	</dict>
	<key>enemyBomb</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>0</integer>
		<key>spawnRate</key>
		<integer>-15</integer>
		<key>damage</key>
		<integer>5</integer>
		<key>fallSpeed</key>
		<integer>-1</integer>
	</dict>
	<key>enemyTank</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>0</integer>
		<key>spawnRate</key>
		<integer>0</integer>
		<key>damage</key>
		<integer>0</integer>
		<key>fallSpeed</key>
		<integer>0</integer>
		<key>attackFrequency</key>
		<integer>0</integer>
	</dict>
	<key>enemyZigZag</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>0</integer>
		<key>spawnRate</key>
		<integer>0</integer>
		<key>damage</key>
		<integer>0</integer>
		<key>fallSpeed</key>
		<integer>0</integer>
		<key>attackFrequency</key>
		<integer>0</integer>
	</dict>
	<key>coin</key>
	<dict>
		<key>gameplayFallSpeed</key>
		<real>4.5</real>
		<key>gameplayFrequency</key>
		<integer>-750</integer>
		<key>endgameFallSpeed</key>
		<integer>4</integer>
		<key>endgameFrequency</key>
		<integer>-5</integer>
		<key>endgameCoinTotal</key>
		<integer>50</integer>
	</dict>
	<key>coinMultiplier</key>
	<integer>2</integer>
	<key>scenariosAvailable</key>
	<integer>2</integer>
	<key>scenarioDelay</key>
	<real>1000</real>
	<key>scoreCounter</key>
	<integer>0</integer>
	<key>coinCounter</key>
	<integer>0</integer>
	<key>baseFriendlyCount</key>
	<real>4.5</real>
	<key>friendlyMeleeReinforcementRate</key>
	<integer>600</integer>
	<key>friendlyBaseHealth</key>
	<integer>1000</integer>
	<key>enemyBaseHealth</key>
	<integer>1000</integer>
</dict>
</plist>
