<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>friendlyRegularShooter</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>20</integer>
		<key>spawnRate</key>
		<integer>600</integer>
		<key>power</key>
		<integer>5</integer>
		<key>attackFrequency</key>
		<integer>65</integer>
		<key>fallSpeed</key>
		<integer>5</integer>
	</dict>
	<key>friendlyMelee</key>
	<dict>
		<key>available</key>
		<true/>
		<key>health</key>
		<integer>20</integer>
		<key>spawnRate</key>
		<integer>400</integer>
		<key>power</key>
		<integer>10</integer>
		<key>attackFrequency</key>
		<integer>15</integer>
		<key>fallSpeed</key>
		<integer>6</integer>
	</dict>
	<key>friendlyFastShooter</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>10</integer>
		<key>spawnRate</key>
		<integer>900</integer>
		<key>power</key>
		<integer>5</integer>
		<key>attackFrequency</key>
		<integer>30</integer>
		<key>fallSpeed</key>
		<integer>5</integer>
	</dict>
	<key>friendlyTank</key>
	<dict>
		<key>available</key>
		<true/>
		<key>health</key>
		<integer>200</integer>
		<key>spawnRate</key>
		<integer>2000</integer>
		<key>power</key>
		<integer>50</integer>
		<key>attackFrequency</key>
		<integer>100</integer>
		<key>fallSpeed</key>
		<integer>6</integer>
	</dict>
	<key>friendlyZigZag</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>1</integer>
		<key>spawnRate</key>
		<integer>200</integer>
		<key>power</key>
		<integer>1</integer>
		<key>attackFrequency</key>
		<integer>50</integer>
		<key>fallSpeed</key>
		<integer>5</integer>
	</dict>
	<key>friendlyPlane</key>
	<dict>
		<key>available</key>
		<true/>
		<key>health</key>
		<integer>1</integer>
		<key>spawnRate</key>
		<integer>15</integer>
		<key>power</key>
		<integer>1</integer>
		<key>attackFrequency</key>
		<integer>15</integer>
		<key>fallSpeed</key>
		<integer>5</integer>
	</dict>
	<key>friendlySpartan</key>
	<dict>
		<key>available</key>
		<true/>
		<key>health</key>
		<integer>55</integer>
		<key>fallingHealth</key>
		<integer>1</integer>
		<key>spawnRate</key>
		<integer>200</integer>
		<key>power</key>
		<integer>35</integer>
		<key>attackFrequency</key>
		<integer>50</integer>
		<key>fallSpeed</key>
		<integer>5</integer>
	</dict>
	<key>friendlyHelicopterBomb</key>
	<dict>
		<key>health</key>
		<integer>1</integer>
		<key>power</key>
		<integer>50</integer>
		<key>fallSpeed</key>
		<real>4.5</real>
	</dict>
</dict>
</plist>
