<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enemyRegularShooter</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>0</integer>
		<key>spawnRate</key>
		<integer>0</integer>
		<key>damage</key>
		<integer>0</integer>
		<key>fallSpeed</key>
		<integer>0</integer>
		<key>attackFrequency</key>
		<integer>0</integer>
	</dict>
	<key>enemyMelee</key>
	<dict>
		<key>available</key>
		<true/>
		<key>health</key>
		<integer>20</integer>
		<key>fallingHealth</key>
		<integer>1</integer>
		<key>spawnRate</key>
		<integer>200</integer>
		<key>damage</key>
		<integer>13</integer>
		<key>fallSpeed</key>
		<integer>7</integer>
		<key>attackFrequency</key>
		<integer>15</integer>
		<key>zigZagFrequency</key>
		<integer>10</integer>
		<key>reinforcementRate</key>
		<integer>500</integer>
	</dict>
	<key>Kmonster</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>0</integer>
		<key>spawnRate</key>
		<integer>0</integer>
		<key>damage</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>0</integer>
		<key>attackFrequency</key>
		<integer>0</integer>
	</dict>
	<key>enemyHelicopter</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>0</integer>
		<key>spawnRate</key>
		<integer>0</integer>
		<key>damage</key>
		<integer>0</integer>
		<key>speed</key>
		<integer>0</integer>
		<key>attackFrequency</key>
		<integer>0</integer>
	</dict>
	<key>enemyBomb</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>0</integer>
		<key>spawnRate</key>
		<integer>0</integer>
		<key>damage</key>
		<integer>0</integer>
		<key>fallSpeed</key>
		<integer>0</integer>
		<key>attackFrequency</key>
		<integer>0</integer>
	</dict>
	<key>enemyTank</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>0</integer>
		<key>spawnRate</key>
		<integer>0</integer>
		<key>damage</key>
		<integer>0</integer>
		<key>fallSpeed</key>
		<integer>0</integer>
		<key>attackFrequency</key>
		<integer>0</integer>
	</dict>
	<key>enemyZigZag</key>
	<dict>
		<key>available</key>
		<false/>
		<key>health</key>
		<integer>0</integer>
		<key>spawnRate</key>
		<integer>0</integer>
		<key>damage</key>
		<integer>0</integer>
		<key>fallSpeed</key>
		<integer>0</integer>
		<key>attackFrequency</key>
		<integer>0</integer>
	</dict>
	<key>coin</key>
	<dict>
		<key>gameplayFallSpeed</key>
		<integer>7</integer>
		<key>gameplayFrequency</key>
		<integer>-100</integer>
		<key>endgameFallSpeed</key>
		<integer>5</integer>
		<key>endgameFrequency</key>
		<integer>0</integer>
		<key>endgameCoinTotal</key>
		<integer>13</integer>
	</dict>
	<key>scenariosAvailable</key>
	<integer>0</integer>
	<key>scoreCounter</key>
	<integer>0</integer>
	<key>coinCounter</key>
	<integer>0</integer>
	<key>baseFriendlyCount</key>
	<integer>6</integer>
	<key>friendlyMeleeReinforcementRate</key>
	<integer>700</integer>
	<key>friendlyBaseHealth</key>
	<integer>300</integer>
	<key>enemyBaseHealth</key>
	<integer>300</integer>
</dict>
</plist>
