<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{339,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,277}}</string>
                <key>sourceSize</key>
                <string>{339,277}</string>
            </dict>
            <key>a4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,0},{339,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,277}}</string>
                <key>sourceSize</key>
                <string>{339,277}</string>
            </dict>
            <key>a4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,0},{339,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,277}}</string>
                <key>sourceSize</key>
                <string>{339,277}</string>
            </dict>
            <key>a4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,277},{339,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,277}}</string>
                <key>sourceSize</key>
                <string>{339,277}</string>
            </dict>
            <key>a4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,277},{339,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,277}}</string>
                <key>sourceSize</key>
                <string>{339,277}</string>
            </dict>
            <key>a4-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,0},{339,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,277}}</string>
                <key>sourceSize</key>
                <string>{339,277}</string>
            </dict>
            <key>a4-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,277},{339,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,277}}</string>
                <key>sourceSize</key>
                <string>{339,277}</string>
            </dict>
            <key>a4-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,554},{339,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,277}}</string>
                <key>sourceSize</key>
                <string>{339,277}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>angelplane.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c683da83f9aaccec83259b3b4697535c$</string>
            <key>textureFileName</key>
            <string>angelplane.png</string>
        </dict>
    </dict>
</plist>
