<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a2-attack-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{250,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,200}}</string>
			<key>sourceSize</key>
			<string>{250,200}</string>
		</dict>
		<key>a2-attack-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{250,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,200}}</string>
			<key>sourceSize</key>
			<string>{250,200}</string>
		</dict>
		<key>a2-attack-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,200},{250,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,200}}</string>
			<key>sourceSize</key>
			<string>{250,200}</string>
		</dict>
		<key>a2-attack-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,200},{250,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,200}}</string>
			<key>sourceSize</key>
			<string>{250,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>angel2attack.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f9e975b8dc9826253da3b6095f7f088f$</string>
		<key>textureFileName</key>
		<string>angel2attack.png</string>
	</dict>
</dict>
</plist>
