<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a3-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,0},{220,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,210}}</string>
			<key>sourceSize</key>
			<string>{220,210}</string>
		</dict>
		<key>a3-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,220},{220,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,210}}</string>
			<key>sourceSize</key>
			<string>{220,210}</string>
		</dict>
		<key>a3-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,220},{220,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,210}}</string>
			<key>sourceSize</key>
			<string>{220,210}</string>
		</dict>
		<key>a3-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,220},{220,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,210}}</string>
			<key>sourceSize</key>
			<string>{220,210}</string>
		</dict>
		<key>a3-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,220},{220,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,210}}</string>
			<key>sourceSize</key>
			<string>{220,210}</string>
		</dict>
		<key>a3-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,430},{220,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,210}}</string>
			<key>sourceSize</key>
			<string>{220,210}</string>
		</dict>
		<key>a3-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,430},{220,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,210}}</string>
			<key>sourceSize</key>
			<string>{220,210}</string>
		</dict>
		<key>a3-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,430},{220,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,210}}</string>
			<key>sourceSize</key>
			<string>{220,210}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>angel3.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ef17a36489a0dbf64f4121140cf3a4a0$</string>
		<key>textureFileName</key>
		<string>angel3.png</string>
	</dict>
</dict>
</plist>
