<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{221,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,196}}</string>
                <key>sourceSize</key>
                <string>{221,196}</string>
            </dict>
            <key>d3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,0},{221,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,196}}</string>
                <key>sourceSize</key>
                <string>{221,196}</string>
            </dict>
            <key>d3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{221,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,196}}</string>
                <key>sourceSize</key>
                <string>{221,196}</string>
            </dict>
            <key>d3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{221,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,196}}</string>
                <key>sourceSize</key>
                <string>{221,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>devil2tank.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bc5efa5a83fd6f87ddcb3aa910c4a16$</string>
            <key>textureFileName</key>
            <string>devil2tank.png</string>
        </dict>
    </dict>
</plist>
